<div class=m-3>
<input type=search id=psearch name=psearch [(ngModel)]=query
  placeholder="Search by name (leave blank for all)"
  class="form-control mb-1">
<button (click)="search()"
  class="btn btn-outline-success"
>
Search
</button>
</div>

<div class = m-3>
<input type="button"
  id="createperson"
  value="Create Person"
  routerLink="/createperson"
  >
</div>

<div *ngIf="waiting; else elseBlock" class="loader align-items-center"></div>

<ng-template #elseBlock>
  <ul class="list-group m-3">
    <li *ngFor="let person of people"
    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center m-1"
    routerLink="/detail/{{person.id}}">
      <span><img src="https://image.shutterstock.com/image-photo/close-portrait-smiling-handsome-man-260nw-1011569245.jpg" width=100 height=100></span>
      <span>{{person.id}}</span> {{person.fName}} {{person.lName}}
    </li>
  </ul>
</ng-template>
